.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: grid;
  place-items: center;
}

.content {
  width: 100%;
  height: 100%;
}

.close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  color: #333333;
  background-color: #fff;
  display: grid;
  place-items: center;
}

.close-btn svg {
  margin: 16px;
}
