.options-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 144px;
  padding: 4px 0;
  border-radius: 2px;
  background-color: #ffce54;
}

.option {
  width: 100%;
  padding: 4px;
  font-size: 0.875rem;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.option svg {
  margin: 0 0.5em;
}

.option span {
  padding-left: 0.5em;
}

.option:hover {
  background-color: hsla(0, 0%, 100%, 0.25);
}
