.sign-up-form {
  padding: 2em 1em;
  background-color: #fff;
}

.name-section,
.sign-up-form label[for="user-email"],
.sign-up-form label[for="user-password"] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
}

.sign-up-form label[for="user-email"],
.sign-up-form label[for="user-password"] {
  background-color: hsla(0, 0%, 0%, 0.1);
}

.show-password-toggle {
  position: absolute;
  right: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 10px;
  outline: none;
}

.show-password-toggle:focus {
  background-color: hsla(0, 0%, 0%, 0.1);
}

.name-section:focus-within,
.sign-up-form label[for="user-email"]:focus-within,
.sign-up-form label[for="user-password"]:focus-within {
  box-shadow: 0 0 0 2px hsla(0, 0%, 0%, 0.4);
}

.name-section label {
  max-width: 50%;
  position: relative;
  background-color: hsla(0, 0%, 0%, 0.1);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.name-section label span,
.sign-up-form label[for="user-email"] span,
.sign-up-form label[for="user-password"] span {
  pointer-events: none;
  position: absolute;
  line-height: 1em;
  left: 10px;
  transition: all 0.2s;
}

.name-section label span::before,
.sign-up-form label[for="user-email"] span::before,
.sign-up-form label[for="user-password"] span::before {
  content: "";
  position: absolute;
  inset: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: transparent;
}

.name-section label span::after,
.sign-up-form label[for="user-email"] span::after,
.sign-up-form label[for="user-password"] span::after {
  opacity: 0;
  content: ":";
  position: absolute;
  right: -5px;
}

.name-section label[for="user-firstname"]:focus-within span,
.name-section label[for="user-firstname"] input:valid + span,
.name-section label[for="user-lastname"]:focus-within span,
.name-section label[for="user-lastname"] input:valid + span,
.sign-up-form label[for="user-email"]:focus-within span,
.sign-up-form label[for="user-email"] input:valid + span,
.sign-up-form label[for="user-password"]:focus-within span,
.sign-up-form label[for="user-password"] input:valid + span {
  transform: translate(-25%, -100%) scale(0.75);
}

.name-section label[for="user-firstname"]:focus-within span::before,
.name-section label[for="user-firstname"] input:valid + span::before,
.name-section label[for="user-lastname"]:focus-within span::before,
.name-section label[for="user-lastname"] input:valid + span::before,
.sign-up-form label[for="user-email"]:focus-within span::before,
.sign-up-form label[for="user-email"] input:valid + span::before,
.sign-up-form label[for="user-password"]:focus-within span::before,
.sign-up-form label[for="user-password"] input:valid + span::before {
  border-bottom-color: currentColor;
}

.name-section label[for="user-firstname"]:focus-within span::after,
.name-section label[for="user-firstname"] input:valid + span::after,
.name-section label[for="user-lastname"]:focus-within span::after,
.name-section label[for="user-lastname"] input:valid + span::after,
.sign-up-form label[for="user-email"]:focus-within span::after,
.sign-up-form label[for="user-email"] input:valid + span::after,
.sign-up-form label[for="user-password"]:focus-within span::after,
.sign-up-form label[for="user-password"] input:valid + span::after {
  opacity: 1;
}

.name-section label input,
label[for="user-email"] input,
label[for="user-password"] input {
  width: 100%;
  border: none;
  padding: 10px;
  background-color: transparent;
  outline: none;
  caret-color: hsla(0, 0%, 0%, 0.25);
}

label[for="terms-of-service"] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1em;
  position: relative;
  overflow: hidden;
  margin-bottom: 4em;
}

label[for="terms-of-service"] input[type="checkbox"] {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.sign-up-form button[type="submit"] {
  font-size: 1.125em;
  display: block;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 0.6667em;
  background-color: hsl(43, 100%, 66%);
  transition: all 0.125s;
}

.sign-up-form button[type="submit"]:disabled {
  background-color: hsla(43, 100%, 66%, 0.5);
}

/* .sign-in-redirect {} */
