.search-results-section {
  position: fixed;
  top: 92px;
  right: 14px;
  left: 14px;
  z-index: 90;
  height: 375px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 2px 8px 0 rgba(0 0 0 / 0.4);
}

.fetched-blog {
  /* max-height: 96px; */
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  overflow: hidden;
  background-color: rgba(0 0 0 / 0.2);
}

.fetched-blog:not(:last-child) {
  margin-bottom: 8px;
}

.fetched-blog img {
  max-height: 96px;
  border-radius: 4px;
}
