.notif.secondary {
  background-color: #673ab7;
}

.notif.info {
  background-color: #2196f3;
}

.notif.success {
  background-color: #4caf50;
}

.notif.warning {
  background-color: #ff9800;
}

.notif.error {
  background-color: #f44336;
}
