.input {
  font-variant-ligatures: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.input::before {
  content: attr(data-placeholder);
  position: absolute;
  text-transform: capitalize;
  opacity: 0.625;
  pointer-events: none;
  transition: all 0.1s;
}

.input:not(:empty)::before {
  opacity: 0;
}
