/* :has(.sign-in-form) {} */

.sign-in-form {
  background-color: #fff;
  padding: 2em 1em;
}

.sign-in-form h1 {
  margin-top: 1em;
}

.sign-in-form p {
  margin-bottom: 2em;
}

.sign-in-form label[for="user-id"],
.sign-in-form label[for="user-password"] {
  position: relative;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.1);
}

.sign-in-form label[for="user-id"] span,
.sign-in-form label[for="user-password"] span {
  position: absolute;
  left: 10px;
  line-height: 1em;
  text-transform: capitalize;
  transform: translate(0) scale(1);
  transition: all 0.125s;
}

.sign-in-form label[for="user-id"] input,
.sign-in-form label[for="user-password"] input {
  border: none;
  background-color: transparent;
  padding: 10px;
  width: 100%;
  outline: none;
}

.sign-in-form label[for="user-password"] button {
  position: absolute;
  right: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 10px;
  outline: none;
}

.sign-in-form label[for="user-password"] button:focus {
  background-color: hsla(0, 0%, 0%, 0.1);
}

.sign-in-form label[for="user-id"]:focus-within span,
.sign-in-form label[for="user-password"]:focus-within span,
.sign-in-form label[for="user-id"] input:valid + span,
.sign-in-form label[for="user-password"] input:valid + span {
  transform: translate(-22.5%, -100%) scale(0.75);
}

.sign-in-form label[for="remember-me"] {
  display: flex;
  width: fit-content;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5em;
  position: relative;
}

.sign-in-form label[for="remember-me"]:focus-within svg {
  box-shadow: 0 0 0 2px hsla(0, 0%, 0%, 0.4) inset;
}

.sign-in-form label[for="remember-me"] input[type="checkbox"] {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.forgot-password {
  width: fit-content;
  display: block;
  margin: 1em 0 4em auto;
  text-align: right;
}

.sign-in-form button[type="submit"] {
  border: none;
  display: block;
  width: 100%;
  font-size: 1.125em;
  padding: 0.585em;
  background-color: #ffce52;
}

.sign-in-form button[type="submit"]:disabled {
  background-color: hsla(43, 100%, 66%, 0.5);
}

.google-sign-in {
  font-size: 1.125em;
  width: 100%;
  border-radius: 4px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border: 2px solid hsl(0, 0%, 90%);
  background-color: #fff;
  padding: 0.7rem;
  margin: 1em 0 1.125em;
}

.google-sign-in span {
  line-height: 1em;
}
