.backdrop {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: grid;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  border: none;
  background-color: #fff;
  padding: 16px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  outline: 1px solid transparent;
}
