.blog {
  min-width: 320px;
  background-color: #fff;
  color: #333333;
  border-radius: 8px;
  border: 2px solid hsl(0, 0%, 40%);
  padding: 8px;
}

.blog:not(:last-child) {
  margin-bottom: 12px;
}

.blog-title {
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.05);
}

.blog-doohickeys {
  position: relative;
}

.fave-toggle-btn {
  position: absolute;
  padding: 8px;
  border-top-left-radius: 8px;
  top: 0;
  left: 0;
}

.fave-toggle-btn button {
  border: none;
  color: hsla(0, 0%, 99%);
  background-color: rgba(0 0 0 / 0.1);
  padding: 8px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.more-options-wrapper {
  position: absolute;
  padding: 8px;
  border-top-right-radius: 8px;
  top: 0;
  right: 0;
}

.more-options-toggle {
  border: none;
  color: #fff;
  background-color: rgba(0 0 0 / 0.1);
  padding: 8px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.blog-thumbnail {
  border-radius: 8px;
  margin: 0.75em 0;
}

.btn-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

.btn-wrapper button {
  display: grid;
  place-items: center;
  border: none;
  padding: 8px;
  color: #333333;
  background-color: transparent;
}

.blog-content {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #ebf0f3;
  text-decoration-thickness: auto;
}
