.drawer {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  background-color: #ffce54;
  min-height: auto;
  overflow: hidden;
  position: fixed;
  width: 280px;
  z-index: 985;
}

.drawer-header {
  min-height: 92px;
  display: grid;
  place-items: center;
}

.drawer-header div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.8);
}

.nav-section {
  flex: 1 0 auto;
  margin-top: 8px;
}

.navlinks {
  color: inherit;
  text-decoration: none;
  padding-left: 12px;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  border-radius: 0 25px 25px 0;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  height: 48px;
  min-width: 48px;
  overflow: hidden;
  width: 100%;
}

.navlinks.current {
  background-color: #fff;
}

.navlinks:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.navlinks:focus {
  border-color: hsla(0, 0%, 0%, 0.6);
}

.navlinks svg {
  flex-shrink: 0;
  margin: 0 12px;
}

.navlinks span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 20px;
}

.footer {
  flex: 0 0 auto;
  margin: 20px 0 12px;
  padding: 4px 0 6px 24px;
  font-size: 12px;
}
