.blog {
  min-width: 320px;
  background-color: #fff;
  color: #333333;
  /* --line-clr: #ebf0f3; */
  border-radius: 8px;
  border: 2px solid hsl(0, 0%, 40%);
  padding: 8px;
}

.blog-title {
  position: relative;
  z-index: 0;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}

.blog-title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ebf0f3;
  z-index: -1;
  opacity: 0.5;
}
.blog-content {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #ebf0f3;
  text-decoration-thickness: auto;
}
