.field-wrapper {
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.05);
  border-radius: 8px;
  margin-bottom: 1.875rem;
  transition: all 0.125s;
}

.field-wrapper [aria-label="Title"] {
  font-size: 1.25em;
}

.field-wrapper:focus-within {
  box-shadow: 0 0 0 2px hsla(0, 0%, 0%, 0.3);
}

.content-wrapper {
  height: 6em;
}

.content-wrapper:focus-within {
  height: 18em;
}

.choose-thumbnail {
  display: block;
  position: relative;
  margin-bottom: 3em;
}

.choose-thumbnail label {
  font-family: "Poppins", sans-serif;
  background-color: hsla(0, 0%, 0%, 0.025);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  padding: 0.5em 0;
  border-radius: 4px;
  margin-bottom: 1.5em;
}

.choose-thumbnail:focus-within label {
  box-shadow: 0 0 0 2px hsla(0, 0%, 0%, 0.3);
}

.choose-thumbnail input[type="file"] {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.thumbnail-preview {
  border-radius: 10px;
  box-shadow: 0 8px 16px -4px hsla(0, 0%, 0%, 0.1);
}

.create-form button[type="submit"] {
  font-size: 1.125em;
  line-height: 1em;
  width: 100%;
  border: none;
  text-transform: capitalize;
  padding: 12px;
  border-radius: 8px;
  background-color: #ffce54;
  position: sticky;
  /* z-index: 1; */
  bottom: 1.5rem;
}

.create-form button:disabled {
  background-color: hsl(43, 100%, 66%, 0.5);
}
